@page "/server"
@rendermode InteractiveServer

<Viewport Debug="true" Sizes="[ViewportSize.ExtraSmall, ViewportSize.Small, ViewportSize.Medium]">
    <div>
        Show me in extra small, small, and medium!
    </div>
</Viewport>

<Viewport Debug="true" Sizes="[ViewportSize.Large, ViewportSize.ExtraLarge, ViewportSize.ExtraExtraLarge]">
    <div>
        Show me in large, extra large, and extra extra large!
    </div>
</Viewport>